.form {
    background-color: $col-gl-1;
    background-image: linear-gradient(to bottom, rgba(0,0,0,.3), rgba(0,0,0,.7)), url("../img/background-2.jpg");
    background-size: cover;
    background-position: center;
    grid-column: full-start / full-end;
    padding: 3rem 4rem;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));

    margin-top: 4rem;

    @media only screen and (max-width: $bp-xsmall) {
        padding: 1.5rem .5rem;
    }



    &__head {
        grid-column: 1 / -1;
        justify-self: center;
        text-align: center;
        padding: 1rem 2rem;
        line-height: 1.2;
        width: 60%;
        // margin-bottom: 3rem;
        color: $col-gl-1;

        @media only screen and (max-width: $bp-xsmall) {
            width: 96%;
            font-size: 2.4rem;
            padding: 1rem;
        }
    }

    &__box {
        grid-column: 1/-1;
        display: flex;
        justify-self: center;
        padding: 3rem 4rem;
        align-items: center;

        @media only screen and (max-width: $bp-xsmall) {
            padding: 2rem 2rem;
        }
        

        &--input {
            border: none;
            outline: none;
            padding: 1rem 4.5rem;
            font-size: 1.6rem;
            border-top-left-radius: 100px;
            border-bottom-left-radius: 100px;
            // width: 100%;
            // color: $col-gl-1;

            @media only screen and (max-width: $bp-xsmall) {
                padding: 1rem 2rem 1rem 4rem;
            }


            &:focus {
                background-color: rgba(0,0,0,.25);
                color: $col-pri-1;

            }


        }
    
        &--svg {
            height: 2.5rem;
            width: 2.5em;
            align-self: center;
            margin-right: 1.2rem;
            fill: $col-pri-1;
            transform: translateX(5rem);

            @media only screen and (max-width: $bp-xsmall) {
                margin-right: 1.4rem;
            }
        }

        &--btn {
            margin-left: -2rem;

            @media only screen and (max-width: $bp-xsmall) {
                margin-left: -2.6rem;
            }

        }

    }

    
}