.story {

    &__pictures {
        background-image: linear-gradient(to right, rgba($col-pri-1, .3), rgba($col-pri-1, .01));
        // background-size: cover;
        // background-position: center;

        // background-color: $col-gl-1;
        grid-column: full-start / col-end 4;

        display: grid;
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(6, 1fr);
        align-items: center;

        @media only screen and (max-width: $bp-medium) {
            grid-column: 1 / -1;
            background-image: linear-gradient(to top, rgba($col-pri-1, .3), rgba($col-pri-1, .01));
            height: 100%;
        }
    }

    &__img-1 {
        width: 110%;
        grid-row: 1 / span 3;
        grid-column: 3 / span 3;
        z-index: 20;
        box-shadow: 0 1rem 3rem rgba(0,0,0,.3);
        border-radius: 16px;
        margin: 1rem;
        opacity: .7;
        transition: all .4s ease-in;

        @media only screen and (max-width: $bp-medium) {
            width: 90%;
        }

        &:hover {
            border: 3px solid $col-pri-1;
            transform: scale(.95);
            padding: 1rem 2rem;
            box-shadow: 0 2rem 4rem rgba(0,0,0,.3);
            z-index: 1000;
            opacity: 1;
            border-radius: 16px;
        }
        
    }

    &__img-2 {
        width: 100%;
        grid-row: 2 / span 4;
        grid-column: 1 /span 4;
        box-shadow: 0 1rem 3rem rgba(0,0,0,.3);
        border-radius: 16px;
        z-index: 10;
        margin: 1rem;
        opacity: .6;
        transition: all .4s ease-in;

        @media only screen and (max-width: $bp-medium) {
            width: 80%;
        }


        &:hover {
            border: 3px solid $col-pri-1;
            transform: scale(.95);
            padding: 1rem 2rem;
            box-shadow: 0 2rem 4rem rgba(0,0,0,.3);
            z-index: 1000;
            opacity: 1;
            border-radius: 16px;
        }

    }

    &__img-3 {
        width: 110%;
        grid-row: 4 / 7;
        grid-column: 4 / 7;
        z-index: 9;
        box-shadow: 0 1rem 3rem rgba(0,0,0,.3);
        border-radius: 16px;
        margin: 1rem;
        opacity: .5;
        transition: all .4s ease-in;

        @media only screen and (max-width: $bp-medium) {
            width: 90%;
        }


        &:hover {
            border: 3px solid $col-pri-1;
            transform: scale(.95);
            padding: 1rem 2rem;
            box-shadow: 0 2rem 4rem rgba(0,0,0,.3);
            z-index: 1000;
            opacity: 1;
            border-radius: 16px;
        }

    }

    &__content {
        background-image: linear-gradient(to left, rgba($col-pri-1, .3), rgba($col-pri-1, .01));

        //FLEXBOX MODE
        /*
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        */

        //GRID MODE
        display: grid;
        align-content: center;
        justify-items: start;
        // background-color: $col-gd-2;
        grid-column: col-start 5 / full-end;

        padding: 6rem 6vw;

        @media only screen and (max-width: $bp-medium) {
            grid-column: 1 / -1;
            grid-row: 5 / 6;
            background-image: linear-gradient(to bottom, rgba($col-pri-1, .3), rgba($col-pri-1, .01));
        }
    }

    

    &__testimonial {
        // background-image: linear-gradient(to left, rgba(0,0,0,.8), rgba(255,255,255,.3)), url(../img/Elvis.jpg);
        // background-size: cover;
        // background-position: center;
        border-radius: 10px;
        margin-bottom: 4rem;
        // opacity: .5;

        

        &--text {
            font-size: 1.6rem;
            color: $col-gd-2;
            text-align: justify;
            // margin-bottom: 4rem;
            padding: .6rem 2rem;
            
        }
        
    }

    // &__img-testimonial {
    //     width: 5rem;
    //     height: 5rem;
    //     border-radius: 10px;
    //     margin-right: 1.6rem;
    //     align-self: center;
    // }
    
}